/* .parent{
  border: 2px solid black;
  transition: all 1s ease-in-out;
} */
@media (max-width: 1530px) and (min-width: 1282px) {
  .block1 {
    width: 40vw !important;
    height: auto;
    margin-bottom: 10px;
  }
  .imgs {
    height: 50vh;
    width: 50vw;
  }
}
@media (min-width: 1011px) {
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-35%);
      opacity: 0;
    }
    30% {
      transform: translateX(-76%);
      opacity: 0;
    }

    50% {
      transform: translateX(-79%);
      opacity: 1;
    }
    70% {
      transform: translateX(-110%);
      opacity: 0;
    }
    93% {
      transform: translateX(-110%);
      opacity: 0;
    }
    100% {
      transform: translateX(-130%);
      opacity: 0;
    }
  }
  .parent {
    /* animation: sliding 4s infinite ease-in-out; */
    animation: sliding 4s infinite cubic-bezier(0.39, -0.25, 0.71, 1.23);
    /* animation: sliding 6s infinite cubic-bezier(0.25, -0.06, 0.71, 1.23); */

    animation-delay: 5s;
  }

  .parent:hover {
    animation-play-state: paused;
  }
}

.buttonsDiv {
  /* margin-top: 0px !important; */
}
@media (min-width: 1010px) and (max-width: 1280px) {
  .main2 {
    /* visibility: hidden; */
  }
  .block1 {
    justify-content: flex-start !important;
    width: auto !important;
    height: auto !important;
  }
  .container {
    margin: 0px 0px !important;
    /* border: 2px solid ; */
  }
  .text-box {
    width: 40vw;
    text-align: left;
    font-size: 35px;
  }
  .imgs {
    height: 346px;
    width: 346px;
  }
  .mainSlider{
    width: 150vw !important;
  }
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-35%);
      opacity: 0;
    }
    30% {
      transform: translateX(-70%);
      opacity: 0;
    }

    50% {
      transform: translateX(-70.5%);
      opacity: 1;
    }
    70% {
      transform: translateX(-110%);
      opacity: 0;
    }
    93% {
      transform: translateX(-110%);
      opacity: 0;
    }
    100% {
      transform: translateX(-130%);
      opacity: 0;
    }
  }
  .parent {
    /* animation: sliding 4s infinite ease-in-out; */
    animation: sliding 4s infinite cubic-bezier(0.39, -0.25, 0.71, 1.23);
    /* animation: sliding 6s infinite cubic-bezier(0.25, -0.06, 0.71, 1.23); */

    animation-delay: 5s;
  }
  .parent:hover {
    animation-play-state: paused;
  }
  .flexChanger {
    /* gap: 64px; */
  }
}

@media (max-width: 1010px) {
  .changing {
    width: 100vw !important;
    border-radius: 0px !important;
  }
  .mainSlider {
    justify-content: space-between !important;
    width: 200vw !important;
  }
  .heroSection {
    /* border: 2px solid black; */
    /* overflow: scroll !important; */
    justify-content: flex-start !important;
  }
  .main {
    margin: 0px !important;
  }

  .main1 {
    width: 100vw !important;
    margin: 0px !important;
    display: block;
  }
  @keyframes mobileSlider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-135%);
    }
  }
  .mobileSlider {

  }
  .flexChanger {
    flex-direction: row;
    position: relative;
    width: 300vw;
    justify-content: space-between;
    /* justify-content: flex-start !important; */
    animation: mobileSlider 10s infinite cubic-bezier(0.25, -0.06, 0.71, 1.23);
    animation-play-state: running;
  }
  /* .flexChanger:hover{

    animation-play-state: paused;
  } */
  .flexChanger:hover {
    animation-play-state: paused;
  }
  .parent {
    /* overflow: auto !important; */
  }
  .imgs {
    height: 50vh;
    width: 50vw;
  }
  .text-box {
    width: 100vw;
    height: auto;
    padding: 30px 0px 10px 0px;
  }
}
