.container{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    gap: 5px;
  }
 
  .logo{
    font-weight: bold;
  }
  
  .text{
    font-size: 12px;
  }
  .icons{
    filter:  invert(1);
  }
  
  @media (max-width:768px){
    .container{
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }